
.dynamic-page .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: all-scroll; /* Adjust cursor style if necessary */
    animation: scaleAnimation 5s infinite alternate ease-in-out; /* Apply animation */
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: Scale(1);
    }
    50% {
        transform: Scale(1.05);
      }
    100% {
      transform: scale(1.20); 
    }
  }
  /* .dynamic-page .image-container img {
    max-width:410px;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  } */
  .dynamic-page .content-container h4 {
 text-transform: capitalize;
    font-size: 1rem;
    color: #fe7c11;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .rating-stars{
    font-size: 25px;
    text-align: center;
  }
  .rating-stars:hover{
    color: #fe7904;
 
  }
  .dynamic-page .content-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .dynamic-page .content-container h5 {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #e67e22;
  }

  
  .dynamic-page .content-container button {
    background-color: #FF631A;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    
  }
  .dynamic-page .content-container button:hover {
    background-color: #d35400;
  }
  @media screen  and (max-width:992px) {
    
.dynamic-page .image-container {
  animation: none; /* Apply animation */
}

     .dynamic-page .image-container img {
      max-width:350px;
      height: auto;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }
    .dynamic-page .content-container h5 {
    text-align: center;
    font-size: 0.9rem;
    }
    .dynamic-page .content-container h6{
      text-align: center;
    
    }
    .dynamic-page .content-container h1{
      font-size: 12px !important;
      padding-top: 20px;
     text-align: center;
  }
  .health-deatils{
    margin-top: -20px;
  }
  .health-deatils h1{
    text-align: center;
  }
  .health-deatils h3{
    text-align: center;
  }
  .remaincard-div img{
    width: 100%;
  }
  .remaincard-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
}