.sanar-header {
  background-color: #46A4D9;
}

.sanar-desktop-nav {
  background-color: #ffffff;
  padding: 0px 0;
}

.sanar-desktop-brand {
  display: flex;
  align-items: center;
}

.sanar-desktop-brand>img {
  max-height: 40px;
  min-height: 50px;
  object-fit: contain;
}

.sanar-desktop-secondary-nav {
  display: flex;
  align-items: center;
}

.sanar-desktop-secondary-nav .nav-link {
  display: flex;
  align-items: center;
}

.sanar-desktop-support-text,
.sanar-desktop-support-number {
  margin: 0;
}

.sanar-desktop-support-number {
  font-weight: bold;
}

.sanar-nav-link {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  text-decoration: none !important;
}

.sanar-search-form {
  position: relative;
  height: 20px !important;
}

.sanar-search-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.search-results-unlist {
  position: absolute;
  left:0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 300px;
  width: fit-content;
  overflow-y: auto;
}

.search-main-div {
  /* border: 1px solid rgba(205, 194, 194, 0.178); */
  border-right: 0px !important;
  padding: 11px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 600px;
  max-width: 600px;
}
.search-items-link {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-item-data {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px;
}

.search-item-data:hover {
  background-color: #f0f0f0;
}
.search-icon-div{
  background-color: #FF631A;
  padding: 9px 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}
.search-icon{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DropDown */
.sanar-dropdown {
  position: relative;
}

.sanar-dropdown-menu {
  position: absolute;
  top: 130%;
  left: 0;
  display: flex;
  background-color: #f8f8f8;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sanar-category-list {
  width: 250px;
  min-height: 450px;
  max-height: 450px;
  overflow-y: auto;
}


.sanar-category-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  color: rgb(39, 39, 39);
  text-decoration: none;
  transition: background-color 0.3s;
}

.sanar-category-item>a {
  text-decoration: none;
  list-style: none;
  color: #474747;
  font-weight: 500;
  font-size: 15px;
}

.sanar-category-item:hover,
.sanar-category-item.active {
  background-color: #f0f0f0;
}

.sanar-nested-dropdown {
  min-height: 450px;
  max-height: 450px;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #fff;
  padding: 10px;
  overflow-y: auto;
}

.sanar-nested-item {
  flex-basis: 20%;
  max-width: 20%;
  padding: 5px;
  color: #46A4D9;
  text-decoration: none;
  font-size: 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-10px);
  animation: slideFromTop 0.3s ease forwards;
}

.sanar-nested-item:hover {
  background-color: #f0f0f0;
}

@keyframes slideFromTop {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Add this new rule to create a "bridge" between category and nested items */
.sanar-dropdown-menu::after {
  content: '';
  position: absolute;
  top: 0;
  left: 250px;
  /* Width of the category list */
  width: 20px;
  /* Adjust as needed */
  height: 100%;
  background-color: transparent;
}

@media screen and (max-width:768px){
  .sanar-nav-link {
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-decoration: none !important;
  }
  .search-main-div{
    min-width: 140px;
    max-width: 140px;
    padding: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .sanar-desktop-brand>img {
   width: auto;
   height: auto;
    object-fit: contain;
  }
  .sanar-desktop-support-text,
.sanar-desktop-support-number {
  margin: 0;
}

.sanar-desktop-support-number {
  font-weight: normal;
}
.phone{
  height: 20px !important; 
  width: 20px;
  object-fit: cover;

}
.search-icon-div{
  background-color: #FF631A;
  padding:6px 4px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: -20px;
}
.search-icon{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sanar-search-input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 10px !important;
  font-weight: 400 !important;
}
.sanar-search-form {
  position: relative;
  height: 10px !important;
}
.sanar-header {
  position: fixed;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important; /* यह कंटेंट को ऊपर रखेगा */
  align-items: flex-start !important; /* यह कंटेंट को बाईं ओर रखेगा */
  top:0;
  left: 0;
  z-index: 50;
  background-color: #46A4D9;
  width: 50%;
  height:100%;
  transform: translateX(100%); /* यहां -100% की जगह 100% होना चाहिए */
  transition: transform 0.3s ease-in-out;
  overflow-y: auto; /* यदि कंटेंट ज्यादा हो तो स्क्रॉल करने की अनुमति देता है */
}
.sanar-header.active {
  transform: translateY(0);
}

.sanar-navbar-collapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
}
.sanar-desktop-brand2{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sanar-desktop-brand2>img{
  width: auto;
  height: 100px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-item {
  list-style-type: none;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.mobile-menu-title {
  font-size: 18px;
  color: #fff;
}

.mobile-menu-icon {
  transition: transform 0.3s ease;
  color: #fff;
}

.rotate {
  transform: rotate(180deg);
}

.mobile-menu-categories {
  background-color: #f9f9f9;
  height: 250px;
  overflow-y: auto;

}
.mobile-menu-category {
  margin: 0;
  padding: 5px 25px;
}

.mobile-category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0px 0;
}
.mobile-category-title {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.mobile-category-title:hover {
  text-decoration: underline;
}
.mobile-category-item{
  height: 350px ;
  overflow-y: auto;

}

.mobile-category-items {
  font-size: 14px;
  padding: 5px 0px;
  color: #666;
  text-decoration: none;
}

.mobile-category-items:hover {
  color: #333;
}

.mobile-menu-loading {
  padding: 10px;
  text-align: center;
  font-size: 16px;

}
}